body {
  background-color: #f3f4f9;
}

.book-form, .login-form {
  background-color: #fff;
  border-radius: 0.5rem;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

img, .book-cover {
  max-width: 100%;
  max-height: 100%;
}
