{{set . "title" "Edit Book"}}
{{template "header.html" .}}

<div class="d-flex justify-content-between align-items-center p-2 px-4">
  <h1>Edit book</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<div class="shadow p-3 book-form">
  <form class="p-3" action="{{url "Books.Update" .book.ID}}" method="POST">
    <div class="row">
      <div class="col-md-5 book-form--thumbnail">
        <div class="shadow p-3 m-1 rounded-lg" style="min-height:400px;">
        </div>
      </div>
      <div class="col-md-7 book-form--info">
        <div class="shadow p-3 m-1 rounded-lg row">
          {{with $field := field "book.Title" .}}
            <div class="form-group col-md-6">
              <label for="{{$field.Name}}"><span class="text-danger">*</span>Title:</label>
              <input class="form-control {{if $field.ErrorClass}}is-invalid{{end}}"
                type="text"
                id="{{$field.Name}}"
                name="{{$field.Name}}"
                value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}"
              >
              <!-- <span>*</span> -->
              <div class="invalid-feedback">
                {{$field.Error}}
              </div>
            </div>
          {{end}}
          {{with $field := field "book.Author" .}}
            <div class="form-group col-md-6">
              <label for="{{$field.Name}}"><span class="text-danger">*</span>Author:</label>
              <input class="form-control {{if $field.ErrorClass}}is-invalid{{end}}"
                type="text"
                id="{{$field.Name}}"
                name="{{$field.Name}}"
                value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}"
              >
              <!-- <span>*</span> -->
              <div class="invalid-feedback">
                {{$field.Error}}
              </div>
            </div>
          {{end}}
          {{with $field := field "book.Description" .}}
            <div class="form-group col-md-12">
              <label for="{{$field.Name}}">Description:</label>
              <textarea class="form-control {{if $field.ErrorClass}}is-invalid{{end}}" rows="4"
                name="{{$field.Name}}">{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}</textarea>
              <!-- <span>*</span> -->
              <div class="invalid-feedback">
                {{$field.Error}}
              </div>
            </div>
          {{end}}
          {{with $field := field "book.ReleaseDate" .}}
            <div class="form-group col-md-6">
              <label for="{{$field.Name}}"><span class="text-danger">*</span>Release Date:</label>
              <input class="form-control {{if $field.ErrorClass}}is-invalid{{end}}"
                type="date"
                id="{{$field.Name}}"
                name="{{$field.Name}}"
                value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value.Format "2006-01-02"}}{{end}}"
              >
              <!-- <span>*</span> -->
              <div class="invalid-feedback">
                {{$field.Error}}
              </div>
            </div>
          {{end}}
          {{with $field := field "book.TotalPage" .}}
            <div class="form-group col-md-6">
              <label for="{{$field.Name}}">Total page:</label>
              <input class="form-control {{if $field.ErrorClass}}is-invalid{{end}}"
                type="text"
                id="{{$field.Name}}"
                name="{{$field.Name}}"
                value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}"
              >
              <!-- <span>*</span> -->
              <div class="invalid-feedback">
                {{$field.Error}}
              </div>
            </div>
          {{end}}
          {{with $field := field "book.Category" .}}
            <div class="form-group col-md-6">
              <label for="{{$field.Name}}">Category:</label>
              <select class="custom-select" name="{{$field.Name}}">
                {{option $field 1 "Science"}}
                {{option $field 2 "Fiction"}}
                {{option $field 3 "Self-help"}}
              </select>
            </div>
          {{end}}
          <div class="form-group col-md-12">
            <div class="d-flex justify-content-between">
              <a class="btn btn-secondary" href="{{url "Books.Index"}}">Cancel</a>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{{template "footer.html" .}}
